

<div class="container-fluid">

    <div class="row">  
        
        <div class="col-sm-6">

        <div id="myCarousel" class="carousel slide" data-interval="false">

  <div class="carousel-inner" role="listbox">
      <div class="item active"  *ngFor="let item of response.response.data.product.other_details; let index = index" [class.active]="index == 0">
        <div *ngFor="let image of item.images">
        <img src="https://s14.postimg.cc/bnwpgsqnl/pixel1.png" alt="" style="width:100%">
        </div>
      </div>
    </div>
	
	<div id="thumbCarousel"  *ngFor="let item of response.response.data.product.other_details;">
      <div data-target="#myCarousel" [data-slide-to]="index" class="thumb active" *ngFor="let image of item.images">
        <img src="https://s14.postimg.cc/z24osq8kt/pixel1.png" alt="XZ" style="width: 50px; height: 50px">
      </div>          
    </div>
  
         </div>

         <div class="prod-ct">
          <h3>RELATED PRODUCTS</h3>
        </div>
             
        <div class="prod-img">
          <div class="row">
          <div class="col-sm-5" *ngFor= "let item of response.response.data.related_products">
            <img src="{{item.img}}" class="pict">
            <div class="pc-p">
            <h4>{{item.product_name}}</h4>
            <h6 class="f-zs">{{item.price}}</h6>
            <section>
              <label for="star-1">
                <svg width="255" height="240" viewBox="0 0 51 48">
                  <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                </svg>
              </label>
              <label for="star-2">
                <svg width="255" height="240" viewBox="0 0 51 48">
                  <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                </svg>
              </label>
              <label for="star-3">
                <svg width="255" height="240" viewBox="0 0 51 48">
                  <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                </svg>
              </label>
              <label for="star-4">
                <svg width="255" height="240" viewBox="0 0 51 48">
                  <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                </svg>
              </label>
              <label for="star-5">
                <svg width="255" height="240" viewBox="0 0 51 48">
                  <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                </svg>
              </label>
            </section>  
          </div>
          </div>
        
        </div>
        </div>



        </div>
       
        <div class="col-sm-6">

          <div class="desc-amt">

            <div class="desc">          
                 <p class="d_p">{{response.response.data.product.description}}</p>
           </div> 

            <div class="dolar">
            <h3> {{response.response.data.product.product_name}} <span>(2)</span></h3>  
            <span class=d-ll>{{response.response.data.product.price}}</span><br>
            <section>
                <label for="star-1">
                  <svg width="255" height="240" viewBox="0 0 51 48">
                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                  </svg>
                </label>
                <label for="star-2">
                  <svg width="255" height="240" viewBox="0 0 51 48">
                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                  </svg>
                </label>
                <label for="star-3">
                  <svg width="255" height="240" viewBox="0 0 51 48">
                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                  </svg>
                </label>
                <label for="star-4">
                  <svg width="255" height="240" viewBox="0 0 51 48">
                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                  </svg>
                </label>
                <label for="star-5">
                  <svg width="255" height="240" viewBox="0 0 51 48">
                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                  </svg>
                </label>
              </section>  
           </div>
                
            
           
       
            <div  class="checkbox" >
                <div class="row">
                    <div class="col-sm-4 pd-i"> 
                     <input type="checkbox" class="i-p c-b" id="Unchecked">&nbsp;&nbsp;
                     <p>IN STOCK</p>
                    </div>
                </div>
              
            </div>
               
         
            <div class="quantity">
                <div class="row">
                    <div class="col-6 q-wb"> 
                       <h6 class="qty">Quantity</h6>&nbsp;&nbsp;                    
                        <button class="inc" (click)="decrement()">-</button>
                        <span>{{counter}}</span>
                        <button  class="dec" (click)="increment()">+</button>
                    </div>
                </div>        
            </div> 
            
            <br>
                        
            <div class="row buttons">
                <div class="col-12">
               <div class="row">
               <div class="col-6">
           <button class="btn  ac" >ADD TO CART</button> 
             </div>
             
             <div class="col-6">
           <button class="btn  btn-lg bn">BUY NOW</button>
            </div>

                </div> 
                </div>
              </div>
            
            </div>

          </div>


    </div>

</div>

    

            
      
<router-outlet></router-outlet>