.ac,.bn{
  background-color: #ff9f00;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  width: 80%;
  height: 50px;
  border-radius: 0px !important;
}

.bn{
    background-color:#fb641b !important; 
}

.d_p{
    font-family: inherit;
    font-size:20px;
    font-weight:400;
}

.d-ll{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bolder;
}

.pict{
  height: 190px;
  width: 100%;
  cursor:pointer;
}



label {
  display: inline-block;
  width: 25px !important;
  
  cursor: pointer;
}

.pc-p{
  text-align: center;
  margin-bottom:10px;
}

.f-zs{
  font-size: 20px;
}
svg {
    width: 90%;
    height: auto;
    fill: white;
    stroke: gold;
    transform: scale(0.8);
    transition: transform 200ms ease-in-out;}

 path {
        transition: fill 200ms ease-in-out,
          stroke 100ms ease-in-out;
      }
    

      input[type=checkbox], input[type=radio] {
        box-sizing: border-box;
        padding: 0;
        width:20px;
        height:22px;
      }

      .inc,.dec{
        border: 0px solid grey;
        height: 35px;
        width: 35px;
        /* padding: 5px; */
        margin: 5px;
        outline:none;
      }

      .qty{
        margin-top: 10px;
        font-size: 18px;
      }

      .q-wb{
        font-size: 20px;
      }
      .q-wb,.pd-i{
          display: -webkit-box;
      }

.pics{
  height: 450px;
  width: 100%;
  cursor:pointer;
  
}

.desc-amt{
  margin-top:70px;
}

.pd-i{
  font-size: 19px;
    margin-left: 25px;
}

.prod-ct{
  margin-top:150px;
  text-align: center;
}







.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
  }
  
#myCarousel{
	max-width: 650px;
	margin: 0 auto;
	background: #fff;
}

#thumbCarousel{
	max-width: 650px;
	margin: 0 auto;

	background: #fff;
	
}

#thumbCarousel .thumb{
	float: left !important;
	margin-right: 10px !important;
	border: 1px solid #e6e6e6;
	background: #fff;
}

#thumbCarousel .thumb:last-child{
  margin: 10px 10px 10px 20px;
}

.thumb:hover{
	cursor: pointer;
}

.thumb img{
	opacity: 0.5;
}

.thumb img:hover{
	opacity: 1;
}

.thumb.active img{
	opacity: 1;
  border: 1px solid #808080;
}