<!-- <div class="footer footer_bg p-3">
    <div class="row no-gutters">
        <div class="container ">
            <div class="d-flex">
           
            <img src="../../assets/facebook white round.svg" 
            style="height: 30px;
            width: 30px; padding: 2px;" >
            <br>
            <img src="../../assets/instagram white round.svg"
            style="height: 30px; padding: 2px;;
            width: 30px;">
            </div>
            <hr class="line">
            <div class="row">
                <div class="col-md-4 no-gutters">
                    <img src="../../assets/RemusNation.png" height="85px" width="180px"/>
                </div>
                <div class="col-md-2 no-gutters">
                    <p class="">
                        {{this.language.mLparams[this.lang_dync].info}}
                    </p>
                    <a>{{this.language.mLparams[this.lang_dync].about_us}}</a>
                </div>
                <div class="col-md-2 no-gutters">
                    <p>{{this.language.mLparams[this.lang_dync].Policy}}</p>
                  
                    <a>{{this.language.mLparams[this.lang_dync].Cookie_Policy}}</a>
                    <br>
                    <a>{{this.language.mLparams[this.lang_dync].Legal}}</a>
                    <br>
                    <a>{{this.language.mLparams[this.lang_dync].Delivery_Policy}}</a>
                </div>
                <div class="col-md-2 no-gutters">
                    <p>{{this.language.mLparams[this.lang_dync].Contact_with_Us}}</p>
                  
                    <a>{{this.language.mLparams[this.lang_dync].Coming_Soon}}</a>
                </div>
                <div class="col-md-2 no-gutters">
                    <p>{{this.language.mLparams[this.lang_dync].Get_To_Know_Us}}</p>
                  
                    <a>contact@remusnation.com</a>
                </div>
            </div>
        </div>
    </div>
</div> -->